<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>관리자 페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

body {
  	font-family: "Lato", sans-serif;
}


.iboard_active {
	background-color: red;
	color : white;
	border: 0;
	border-radius: 5px;
	padding: 6px 12px;
	margin: 5px 0;
		 
}
.sidenav {
  height: 800px;
  width: 250px;
  float: left;
  z-index: 1;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

</style>
<script>
	// 서버 응답을 저장할 변수
	let photo_page = null;
	
	
////////////////////////////사진게시판 출력////////////////

const printPhotoBoard = ()=>{
		const $list = $("#photo_list");
		// 서버가 보낸 board들은 page.content에 저장되어 있다
		for(c of photo_page.content) {
			let createdTime = c.writeTime.substr(-26,10);
			const $tr = $("<tr>").appendTo($list);
			$("<td>").text(c.ibno).appendTo($tr);
			const $td = $("<td>").appendTo($tr);
			if(c.attachmentCnt>0)
				$("<i class='fa fa-paperclip'></i>").appendTo($td);
			$("<a>").attr("href", "/imageBoard/read?ibno=" + c.ibno).text(c.title).appendTo($td);
			if(c.commentCnt>0)
				$("<span>").text(" [" + c.commentCnt + "]").appendTo($td);
			$("<td>").text(c.writer).appendTo($tr);
			$("<td>").text(createdTime).appendTo($tr);
			$("<td>").text(c.goodCnt).appendTo($tr);
			$("<td>").text(c.reportCnt).appendTo($tr);
			if(c.isActive){
				$("<td>").text("활성").attr("id", c.ibno+"state").css("color", "blue").appendTo($tr);
				$("<button>").attr("data-ibno", c.ibno).attr("class","iboard_active").css("background-color", "#DC3545").text("비활성").appendTo($tr);
			}
			else{
				$("<td>").text("비활성").attr("id", c.ibno+"state").css("color", "red").appendTo($tr);
				$("<button>").attr("data-ibno", c.ibno).attr("class","iboard_active").css("background-color", "#007BFF").text("활성").appendTo($tr);
			}
		}
	};
	
	const getPhotoPagination = () => {
		// 한번에 다섯개의 페이지씩
		const blockSize = 5;
		
		// 서버 응답에 현재 페이지가 포함되어 있지 않다....재계산하자
		let pageno = location.search.substr(8);
		if(pageno=="")
			pageno=1;
		
		// 0번 블록 : 1~5 page, 1번 블록 : 6~10 page
		const blockNo = Math.floor((pageno-1)/blockSize);
		const prev = blockNo * blockSize;
		const first = prev + 1;
		let last = first + blockSize - 1;
		let next = last + 1;
		const countOfPage = Math.ceil(photo_page.totalcount/10)
		if(last>=countOfPage) {
			last = countOfPage;
			next = 0;
		}
		return {pageno, prev, next, first, last};
		
	};
	
	// 구조 분해 할당 : 객체를 변수로 풀어헤치는 문법
	// const {pageno, prev, next, first, last} = getPagination();
	const printPhotoPagination = ({pageno, prev, next, first, last}) => {
		const $pagination = $("#photo.pagination");
		const url = "/admin/pbwran_report?pageno="
				
		// 이전으로 
		if(prev>0) {
			const $li = $("<li>").appendTo($pagination)
			$("<a>").attr("href", url+prev).text("이전으로").appendTo($li);
		}
		
		// 시작 페이지에서 마지막 페이지....현재 페이지 번호일 경우 active 클래스 추가
		for(let idx=first; idx<=last; idx++) {
			const $li = $("<li>").appendTo($pagination)
			$("<a>").attr("href", url+idx).text(idx).appendTo($li);
			if(idx==pageno)
				$li.attr("class", "active");
		}
		
		// 다음으로
		if(next>0) {
			const $li = $("<li>").appendTo($pagination)
			$("<a>").attr("href", url+next).text("다음으로").appendTo($li);
		}
	}
	
	$(document).ready(()=>{
		// 주소창에서 페이지 번호를 잘라낸다. 페이지 번호가 없으면 1로
		let pageno = location.search.substr(8);
		if(pageno=="")
			pageno=1;
		
		$.ajax("/imageBoard/warnlist?pageno="+pageno).done(result=>{
			photo_page=result;
			console.log(photo_page);
			printPhotoBoard();
			printPhotoPagination(getPhotoPagination());
		});
		
		
		$("#photo_list").on("click",".iboard_active", function() {
			
			const ibno = {ibno :$(this).attr("data-ibno")}
			
			$.ajax({url: "/imageBoard/inactive", method:"post", data:ibno})
			.done((result)=>{
				console.log(result);
				if(result==true){
					Swal.fire('작업 성공', "해당 게시물을 활성했습니다.",'success');
					$("#"+$(this).attr("data-ibno")+"state").text("활성").css("color", "blue");
					$(this).text("비활성").css("background-color", "#DC3545");
				}else{
					Swal.fire('작업 성공', "해당 게시물을 활성했습니다.",'success');
					$("#"+$(this).attr("data-ibno")+"state").text("비활성").css("color", "red");
					$(this).text("활성").css("background-color", "#007BFF");
				}
			}).fail((result)=>{
				Swal.fire('작업 실패', "해당 작업을 실패했습니다.",'error')
			});
			//location.reload();
		});
		
	});
</script>
</head>
<body>
	<div class="sidenav">
		<a href="/admin/index">HOME</a> <a href="/boardMain">BOARD</a> <a
			href="/">SHOP</a> <a href="#" id="logout">LOGOUT</a>
	</div>
	<div class="page" style="float: right; width: 80%; margin-right: 20px;">
		<h3 style="margin: 40px 0 20px 0;">사진게시판 신고글</h3>
		<div class="wrap" style="margin: 0 auto;">
			<table class="table table-hover">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>글쓴이</th>
					<th>작성일</th>
					<th>좋아요</th>
					<th>신고수</th>
					<th>상태</th>
					<th></th>
				</tr>
				<tbody id="photo_list">
				</tbody>
			</table>
			<div id="pagination" style="text-align: center;">
				<ul id="photo" class="pagination"></ul>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$("#logout").on("click", (e)=> {
			e.preventDefault();
			let choice = confirm('로그아웃하시겠습니까?');
			if(choice==false)
				return;
			$.ajax({
				url:"http://localhost:8081/member/logout",
				method: "post",
			}).done(()=>location.href="/");
			
		});	
	</script>
</body>
</html>