<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>MY INFO</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/read.css">

<style>
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
header, nav, aside, footer, section ,li, a,div{
	font-family: 'Jua', sans-serif;
} 

</style>
<script type="text/javascript">
let pet = undefined;

const printPage=()=>{
	console.log(pet)
	$("#petno").val(pet.petno);
	$("#petName").val(pet.petName);
	$("#petAge").text(pet.petAge);
	$("#gender").val(pet.gender);
	$("#petKind").val(pet.petkind);
	
}

$(document).ready(()=>{
	$.ajax("/members/member/pet").done(result=>{
		pet = result;
		printPage();
	});
	
	// 전체 변경
	$("#update").on("click", ()=>{
		const formData = new FormData();
		
		const $petName = $("#petName").val();
		if(pet.petName!=$petName)
			formData.append("petName", $petName);
		
		const $petAge = $("#petAge").val();
		if(pet.petAge!=$petAge)
			formData.append("petAge", $petAge);
		
		const $gender = $("#gender").val();
		if(pet.gender!=$gender)
			formData.append("gender", $gender);
		
		const $petKind = $("#petKind").val();
		if(pet.petKind!=$petKind)
			formData.append("petKind", $petKind);
		
		$.ajax({
			url: "/members/member",
			method: "post",
			data: formData,
			processData:  false,
			contentType: false
		}).done(()=>Swal.fire("변경","회원 정보를 변경했습니다", "success"))
			.fail(()=>Swal.fire("변경 실패", "회원 정보를 변경하지 못했습니다", "error"));
	});
	
	$("#delet").on("click", ()=>{
		let choice = confirm('정말 탈퇴하시겠습니까?');
		if(choice==false)
			return;
		$.ajax({
			url: "/members/member",
			method : "delete"
		}).done(()=>location.href="/")
		.fail(()=>Swal.fire("삭제 실패", "회원 정보를 삭제하지 못했습니다", "error"));
	});
	
	
})
</script>
</head>
<body>
<div th:text="${member}"></div>
<div id="page">
	<header id="header" th:replace="/fragments/headerMember">
	</header>
	<hr>
	<main>
		<section id="section">
		<div id="buttons" style="margin-bottom: 10px; text-align: right;" >
			<button id="my_info" class="btn btn-info">MY INFO</button>
			<button id="my_pet" class="btn btn-info">MY PET</button>
			
		</div>
			<table class="table">
				<colgroup>
					<col width="30%">
					<col width="70%">
				</colgroup>
				<tr>
					<td class="first">이름</td>
					<td id="username"></td>
				</tr>
				<tr><td class="first">비밀번호</td>
					<td colspan="2">
						<button type="button" class="btn btn-info" id="activateChangePwd">비밀번호 수정 ▼</button>
						<div id="pwdArea">
							<span class="key">현재 비밀번호 : </span><input type="password" id="password"  class="form-control"><br>
							<span class="key">새 비밀번호 : </span><input type="password" id="newPassword" class="form-control"><br>
							<span class="key">새 비밀번호 확인 : </span><input type="password" id="newPassword2" class="form-control"><br>
			  				<button type="button" class="btn btn-success" id="changePwd">비밀번호 변경</button>
						</div>
					</td></tr>
				<tr>
				<tr>
					<td class="first">배송지</td>
					<td id="address">
						<button type="button" class="btn btn-info" id="addressBtn">배송지 관리</button>
					</td>
				</tr>
				<tr>
					<td class="first">이름</td>
					<td>
					<input type="text" id="irum" class="form-control">
					</td>
				</tr>
				<tr>
					<td class="first">전화번호</td>
					<td >
					<input type="tel" id="tel" class="form-control">
					</td>
				</tr>
				<tr>
					<td class="first">생년월일</td>
					<td >
					<input type="date" id="birthday" class="form-control"> 
					</td>
				</tr>
				<tr>
					<td class="first">이메일</td>
					<td>
						<input id="email" type="text" name="email" class="form-control" style="width: 600px; display: inline-block;">
						<select id="domain" class="form-control" style="width: 244px; display: inline-block;">
							<option value="0">직접입력</option>
							<option value="naver.com">naver.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="daum.net">daum.net</option>
							<option value="kakao.com">kakao.com</option>
							<option value="yahoo.com">yahoo.com</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="first">보유 포인트</td>
					<td colspan="2" id="point"></td>
				</tr>
				<tr>
					<td class="first">회원정보</td>
					<td>
						<ul>
							<li>가입일 : <span id="joinday"></span></li>
							<li>가입기간 : <span id="days"></span></li>
							<li>레벨 : <span id="level"></span></li>
						</ul>
						<br>
						
					</td></tr>
			</table>
			<hr>
			<div id="click">
				<button type="button" class="btn btn-success" id="update">변경하기</button>
				<button type="button" class="btn btn-danger" id="resign">탈퇴하기</button>
				<a href="" id="transform" style="font-style: italic; float: right;">판매자 계정 전환 > </a>
			</div>
			
		</section>
	</main>
	<footer id="footer" th:replace="/fragments/footer">
	</footer>
</div>
</body>
</html>